<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Informatics App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to webpage</h1>
        <p>filler text</p>
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="btn">Login</a>
            <a href="{{ url_for('signup') }}" class="btn">Signup</a>
        </div>
    </div>
</body>
</html>
